# create a .env.example file with the following content:

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
DB_URL=""
PGADMIN_EMAIL=""
PGADMIN_PASSWORD=""

REDIS_URL=""

OPENAI_API_KEY=""

DRAFTER_DB_PASSWORD=""

SUPABASE_URL=""
SUPABASE_JWT_URL=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_JWT_SECRET=""
EMBEDDING_MODEL=""
EMBEDDING_DIM=1536